body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-slide {
  margin: 0 1rem;
}
.slick-list {
  max-height: 330px;
  margin: 0 -10rem;
}

.slick-track {
  max-height: 330px;
}

.slick-arrow {
  width: 32px;
  height: 32px;
  z-index: 2;
}

.slick-arrow:before {
  color: #888888;
  font-size: 32px;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}
